@import url(_reset.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply text-black border-solid border-black border rounded py-1 px-3 text-center;
}

.btn-auth {
 @apply hover:shadow-md shadow-red-600 transition duration-300 ease-in-out;
}

.post-img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.profile-banner {
  width: 500px;
  object-fit: cover;
}

.profile-avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* Ensure the container covers the whole screen */
.fullscreen-container {
  position: fixed; /* Keeps it in place */
  top: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  display: flex; /* Centers content */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 4rem;
  color: #fff; /* Optional: text color */
  z-index: 9999; /* Bring it to the front */
}
